<div class="container">
 <div class="page-header"><h1>Ember Error Tracker</h1></div>
  <div class="btn-group btn-group-sm pull-right">
    <button type="button" class="btn btn-default">New</button>
    <button type="button" class="btn btn-default">Open</button>
    <button type="button" class="btn btn-default">Closed</button>
  </div>

{{outlet}}
</div>